@layer base {
	body {
		background-image: url('../images/bg-pattern.svg');
		background-repeat: repeat;
		background-position: center center;
		overflow-x: hidden;
	}
	.container {
		margin-left: auto;
		margin-right: auto;
	}
}
